# Ignore Chrome extension files
*.pem
*.crx
*.xpi

# Ignore build files
build/
dist/

# Ignore logs
logs/

# Ignore node_modules
node_modules/

# Ignore OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignore temp files
*.log
*.tmp
*.temp

# Ignore vscode files
.vscode/
